#header-img-modal .bg-wrap {
    background-color: #44ADC7;
}

#header-img-modal .bg {
    background-image: url('images/gallery/bg-69.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.4;
}
