#action-text-img .bg {
    background-image: url('images/gallery/bg-14.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.75;
}
