#testimonial-3col-2 .bg {
    background-image: url('images/gallery/bg-66.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:0.75;
}