#header-textbox-3 .bg-wrap {
    background-color: #111;
}

#header-textbox-3 .bg {
    background-image: url('images/gallery/bg-76.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity:0.75;
}