#header-textbox .bg-wrap {
    background-color: #111;
}

#header-textbox .bg {
    background-image: url('images/gallery/bg-71.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.4;
}