#benefits-single-counter .bg {
    background-image: url('images/gallery/map.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 0.5;
}
