#action-text-timer .bg-wrap {
    background-color: #9a2b2b;
}

#action-text-timer .bg {
    background-image: url('images/gallery/bg-71.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity:0.075;
}
